.page{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6E7271;
    text-align: center;
}

.pagin{
    font-size: 0.9rem;
    margin-bottom: 10px;
    background-color: #6E7271;
    border-color: #338478;
    border-radius: 5px;
    color: #000
}

.pagin:hover{
    background-color: #338478;
    cursor: pointer;
}

.pagin:focus{
    background-color: #6E7271;
    color: #338478;
}
